<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
         
         <!-- Login for the passenger -->
         
         
        <servlet>
			<servlet-name>login</servlet-name>
			<servlet-class>com.bus.LoginServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>login</servlet-name>
			<url-pattern>/login</url-pattern>
		</servlet-mapping>
		
		
		<!-- Login for the Bus owner login -->
		
		
		<servlet>
			<servlet-name>BusOwnerlogin</servlet-name>
			<servlet-class>com.bus.BusOwnerServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>BusOwnerlogin</servlet-name>
			<url-pattern>/BusOwnerlogin</url-pattern>
		</servlet-mapping>
         
         
         <!-- Registration for passenger -->
         
		<servlet>
    		<servlet-name>insert</servlet-name>
    		<servlet-class>com.bus.passengerInsert</servlet-class>
		</servlet>
		
		
		 <!-- Update for passenger -->
		
		
		<servlet-mapping>
    		<servlet-name>insert</servlet-name>
    		<url-pattern>/in</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>updatePassenger</servlet-name>
			<servlet-class>com.bus.UpdatePassengerServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>updatePassenger</servlet-name>
			<url-pattern>/updatePass</url-pattern>
		</servlet-mapping>
		
		
		 <!-- Registration for bus owner -->
		
		
		<servlet>
    		<servlet-name>insertBusOwner</servlet-name>
    		<servlet-class>com.bus.busOwnerInsert</servlet-class>
		</servlet>

		<servlet-mapping>
    		<servlet-name>insertBusOwner</servlet-name>
    		<url-pattern>/inBusOwner</url-pattern>
		</servlet-mapping>
		
		
		 <!-- Add a credit card -->
		
		
		<servlet>
    		<servlet-name>AddCard</servlet-name>
    		<servlet-class>com.bus.AddCardServlet</servlet-class>
		</servlet>

		<servlet-mapping>
    		<servlet-name>AddCard</servlet-name>
    		<url-pattern>/AddCard</url-pattern>
		</servlet-mapping>
		
		
		 <!-- delete passenger account-->
		
		
		<servlet>
    		<servlet-name>deletePassenger</servlet-name>
    		<servlet-class>com.bus.DeletePassengerServlet</servlet-class>
		</servlet>

		<servlet-mapping>
    		<servlet-name>deletePassenger</servlet-name>
    		<url-pattern>/deletePassenger</url-pattern>
		</servlet-mapping>   
		
		
		<!-- Booking bus ticket -->
         
         
        <servlet>
			<servlet-name>addTicket</servlet-name>
			<servlet-class>com.bus.BookTicketServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>addTicket</servlet-name>
			<url-pattern>/addTicket</url-pattern>
		</servlet-mapping>
		
		
		<!-- Show bus ticket -->
         
         
        <servlet>
			<servlet-name>DisplayTicket</servlet-name>
			<servlet-class>com.bus.ReadTicketServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>DisplayTicket</servlet-name>
			<url-pattern>/DisplayTicket</url-pattern>
		</servlet-mapping>
		
		<!-- get Ticket to update-->
		
		<servlet>
			<servlet-name>getTicketUpdate</servlet-name>
			<servlet-class>com.bus.TicketToUpdateServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>getTicketUpdate</servlet-name>
			<url-pattern>/getTicketUpdate</url-pattern>
		</servlet-mapping>
		
		<!-- update ticket -->
		    
		<servlet>
			<servlet-name>TicketUpdate</servlet-name>
			<servlet-class>com.bus.UpdateTicketServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>TicketUpdate</servlet-name>
			<url-pattern>/TicketUpdate</url-pattern>
		</servlet-mapping>
		
		<!-- delete ticket -->
		    
		<servlet>
			<servlet-name>deleteTicket</servlet-name>
			<servlet-class>com.bus.DeleteTicketServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>deleteTicket</servlet-name>
			<url-pattern>/deleteTicket</url-pattern>
		</servlet-mapping> 
		
		<!-- add vehicle -->
		    
		<servlet>
			<servlet-name>addBus</servlet-name>
			<servlet-class>com.bus.InsertVehicleServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>addBus</servlet-name>
			<url-pattern>/addBus</url-pattern>
		</servlet-mapping>     
		
		<!-- Read Vehicles -->
		
		<servlet>
			<servlet-name>Displayvehicle</servlet-name>
			<servlet-class>com.bus.ReadVehicleServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>Displayvehicle</servlet-name>
			<url-pattern>/Displayvehicle</url-pattern>
		</servlet-mapping>
		
		<!-- get vehicle to update-->
		
		<servlet>
			<servlet-name>getVehicleUpdate</servlet-name>
			<servlet-class>com.bus.VehicleToUpdateServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>getVehicleUpdate</servlet-name>
			<url-pattern>/getVehicleUpdate</url-pattern>
		</servlet-mapping>
		
		
		<!-- update ticket -->
		    
		<servlet>
			<servlet-name>UpdateVehicle</servlet-name>
			<servlet-class>com.bus.UpdateVehicleServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>UpdateVehicle</servlet-name>
			<url-pattern>/UpdateVehicle</url-pattern>
		</servlet-mapping>
		
		<!-- delete ticket -->
		    
		<servlet>
			<servlet-name>DeleteVehicle</servlet-name>
			<servlet-class>com.bus.DeleteVehicleServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>DeleteVehicle</servlet-name>
			<url-pattern>/DeleteVehicle</url-pattern>
		</servlet-mapping>
		
		<!-- Manager Login -->
		
		<servlet>
			<servlet-name>ManagerLogin</servlet-name>
			<servlet-class>com.bus.ManagerLoginServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>ManagerLogin</servlet-name>
			<url-pattern>/ManagerLogin</url-pattern>
		</servlet-mapping>
		
		
		<!-- Manager Login -->
		
		<servlet>
			<servlet-name>AddTravel</servlet-name>
			<servlet-class>com.bus.AddTravelServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>AddTravel</servlet-name>
			<url-pattern>/AddTravel</url-pattern>
		</servlet-mapping>
		
		<!-- View time table -->
		
		<servlet>
			<servlet-name>timeTable</servlet-name>
			<servlet-class>com.bus.ReadTimeTableServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>timeTable</servlet-name>
			<url-pattern>/timeTable</url-pattern>
		</servlet-mapping>
		
		<!-- get travel to update-->
		
		<servlet>
			<servlet-name>getTravelUpdate</servlet-name>
			<servlet-class>com.bus.TravelToUpdateServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>getTravelUpdate</servlet-name>
			<url-pattern>/getTravelUpdate</url-pattern>
		</servlet-mapping>
		
		<!-- update time table -->
		
		<servlet>
			<servlet-name>updateTravel</servlet-name>
			<servlet-class>com.bus.UpdateTravelServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>updateTravel</servlet-name>
			<url-pattern>/updateTravel</url-pattern>
		</servlet-mapping>
		
		<!-- delete travel -->
		
		<servlet>
			<servlet-name>DeleteTravel</servlet-name>
			<servlet-class>com.bus.DeleteTravelServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>DeleteTravel</servlet-name>
			<url-pattern>/DeleteTravel</url-pattern>
		</servlet-mapping>
		
		
		<!-- insert complain -->
		
		<servlet>
			<servlet-name>addComplain</servlet-name>
			<servlet-class>com.bus.AddComplainServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>addComplain</servlet-name>
			<url-pattern>/addComplain</url-pattern>
		</servlet-mapping>
		
		
		<!-- read my complains -->
		
		<servlet>
			<servlet-name>ReadComplain</servlet-name>
			<servlet-class>com.bus.ReadComplainServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>ReadComplain</servlet-name>
			<url-pattern>/ReadComplain</url-pattern>
		</servlet-mapping>
		
		<!-- get complain to update-->
		
		<servlet>
			<servlet-name>getComplainUpdate</servlet-name>
			<servlet-class>com.bus.ComplainToUpdateServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>getComplainUpdate</servlet-name>
			<url-pattern>/getComplainUpdate</url-pattern>
		</servlet-mapping>
		
		
		<!-- get complain to update-->
		
		<servlet>
			<servlet-name>updateComplain</servlet-name>
			<servlet-class>com.bus.UpdateComplainServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>updateComplain</servlet-name>
			<url-pattern>/updateComplain</url-pattern>
		</servlet-mapping>
		
		<!-- get complain to update-->
		
		<servlet>
			<servlet-name>DeleteComplain</servlet-name>
			<servlet-class>com.bus.DeleteComplainServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>DeleteComplain</servlet-name>
			<url-pattern>/DeleteComplain</url-pattern>
		</servlet-mapping>
		
		    
</web-app>
         
         